<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Garbage Flux</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css')}}" />
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <script>alert("{{ message }}")</script>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </head>
    <body>
        <div class="conteudo_pagina">
            <div class="margem_esquerda">
                <img src="{{url_for('static', filename='img/lixeira.png')}}" alt="Imagem da lixeira">
            </div>
            <div class="divisao"/>
            </div>
            <div class="conteudo">
            <h1><a href="/home">Home</a></h1>
            <div class="conteudo_block">
            {% block conteudo %}
            
            {% endblock conteudo %}
                <a href="/sair" >Sair</a>
            </div>
            </div>
        </div>
    </body>
</html>
